html, body{
  margin: 0px;
  padding: 0px;
  font-family: 'Lato',sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 100%;
  color: #fff;
  background: #fbfbfb;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.table{
  width: 1%;
  height: 100%;
  background: #34495e;
  display: table;
}

.cell{
  display: table-cell;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}
.dots{
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  
  .active{
    a{
       -webkit-transform: scale3d(1.3, 1.3, 1.3);
          transform: scale3d(1.3, 1.3, 1.3);
      
      &:after{
      height: 100%;
      }
    }
  }
  
  li{
    position: relative;
    display: block;
    float: left;
    margin: 0 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
    a{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 50%;
      text-indent: -999em;
      cursor: pointer;
      position: absolute;
      overflow: hidden;
      background-color: transparent;
      box-shadow: inset 0 0 0 2px white;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        height: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 1px #fff;
        -webkit-transition: height 0.3s ease;
        transition: height 0.3s ease;
      }
    }
  }
}

/*
* Font Face: Lato
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
