::-webkit-scrollbar{
    width:1vh;
}
::-webkit-scrollbar-track{
    background-color:black;
}
::-webkit-scrollbar-thumb{
    background-color:skyblue;
}
body{
    font-family: calibri;
}
/*PENGATURAN FONT*/
@font-face {
    font-family: "Abel";
    src: url('../font/Abel-Regular.ttf');
}
@font-face {
    font-family: "libel";
    src: url('../font/libel-suit-rg.ttf');
}
@font-face {
    font-family: "Chocolatines";
    src: url('../font/Chocolatines.ttf');
}
/*info*/
.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding: 5px;
    margin-top: 5px;
}
.counta1{
    font-family: libel;
    color: white;
    text-align: center;
    margin-top: -2px;
    letter-spacing: 5px;
    font-size: 70px;
}
.topnav {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
}
.activenav {
    background-color: #e4262c;
    color: white;
    font-family: "Chocolatines";
    letter-spacing: 3px;
    font-weight: 800;
}

.topnav .icon {
    display: none;
}
.footer{
    position: fixed;
    bottom: 0;
    z-index: 4;
}
.btn_back{
    background-color: orange;
    padding: 10px;
    border: none;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;

}

.language_select {
    margin-top: 10px;
    top: 5px;
    right: 0;
    position: fixed;
    margin-right: 50px;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
}
.btn-menu{
    display: none;
}
.search{
    padding: 13px;
    margin-left: 5px;
    border:none;
    border-bottom: 2px solid #283038; 
}

.tabs_anakan_responsive{
	display: none;
}
.tabs ul{
list-style: none;
}
.pengatur_tombol ul li a{
color:#C8C7C9;	
margin-left: -35px;
}
.tab {
display:none;
}
.tab.active {
display:block;
}
/*CONTENT*/
.induk_content{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.content_left{
    float: left;
    position: relative;
    width: 32%;
    height: 100vh;
    background-color: white;
}
.content_left .note_sub_content_left img{
    width: 100%;
}
.content_right{
    float: left;
    width: 68%;
    height: 100vh;
    position: relative;
    background: url("../../assets/img/background.jpg");
    background-position: center;
    background-size: cover;
}
/*SUB CONTENT LEFT*/
.sub_content_left{
    float: left;
    width: 100%;
    height: 100vh;
    background: url("../../assets/img/wib_background.jpg");
    background-position: center;
    background-size: cover;
}
/*NOTE SUB CONTENT LEFT*/
.note_sub_content_left{
    margin-top: 70px;
    padding: 45px;
}
.note_sub_content_left img{
    width: 100px;
}
.note_sub_content_left h1{
    color: white;
    font-size: 30px;
    font-weight: 400;
}
.note_sub_content_left p{
    color: white;
    font-weight: 300;
}
.btn-baca{
    background-color: white;
    border-radius: 10px;
    border: none;
    color: black;
    cursor: pointer;
    padding: 10px;
    transition: all.5s;
}
.btn-baca:hover{
    transition: all.5s;
    color: white;
    background-color: #e4262c;
}


/*SUB_CONTENT_RIGHT DAN GRID DAN SUB GRID*/
.sub_content_right{
   background-color: transparent;
   width: 100%;
   height: 55%;
    margin-top: 110px;
    padding: 60px;
}
.tabs .wadah-pagination{
    width: 100%;
}
.pagination {
    width:10px;
    position: fixed;
    display: block;
    margin-left: 64%;
    margin-top: 135px;
    line-height: 4;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.vNav {
    position: fixed;
    top: 20%;
    left: 90%;
    display: inline-block;
    width: 55px;
    z-index: 9999;
    margin-top: 30px;
    padding: 5px;
    list-style-type: none;
}
.vNav ul {
    position: relative;
    padding: 10px;
    padding-left: 35%;
}
.vNav ul li {
    position: relative;
    padding-bottom: 45px;
    padding-left: 35%;
    color: red;
}
.vNav a {
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid;
    border-color: #283038;
    text-decoration: none;
}
.vNav a:hover {
    border-radius: 50%;
    background-color:#283038;
    text-decoration: none;
}
.vNav a.active {
    border-radius: 50%;
    background-color:#283038;
    text-decoration: none;
}

/*WADAH GRID TAB1 (CONTENT_RIGHT)*/
.wadah-grid1tab1{
    float: left;
    width: 40%;
    height: 65vh;
    background: url("../../assets/img/prambanan.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    margin-top: -50px;
    transition: all.3s;
}
.wadah-grid1tab1:hover{
    transition: all.3s;
    box-shadow: 0px 0 0px 0px #8F8F8F;
}
.wadah-grid2tab1{
    float: left;
    width: 40%;
    margin-left: 40px;
    background-color: transparent;
    margin-top: -50px;
}
.sub_grid1tab1{
    background: url("../../assets/img/header4.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30vh;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
}
.sub_grid2tab1{
    background: url("../../assets/img/kepseribu.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30vh;
    margin-top: 30px;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    transition: all.3s;
}
.sub_grid1tab1:hover,.sub_grid2tab1:hover{
    transition: all.3s;
    box-shadow: 0px 0 0px 0px #8F8F8F;
}
/*WADAH GRID TAB2 (CONTENT_RIGHT)*/
.wadah-grid1tab2{
    float: left;
    width: 40%;
    height: 65vh;
    background: url("../../assets/img/museum_aceh.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    margin-top: -50px;
    background-size: cover;
    background-position: center;
}
.wadah-grid1tab2:hover{
    transition: all.3s;
    box-shadow: 0px 0 0px 0px #8F8F8F;
}
.wadah-grid2tab2{
    float: left;
    width: 40%;
    margin-left: 40px;
    background-color: transparent;
    margin-top: -50px;
}
.sub_grid1tab2{
    background: url("../../assets/img/museum_nasional.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30vh;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
}
.sub_grid2tab2{
    background: url("../../assets/img/puncak mandeh.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30vh;
    margin-top: 30px;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
}
.sub_grid1tab2:hover,.sub_grid2tab2:hover{
    transition: all.3s;
    box-shadow: 0px 0 0px 0px #8F8F8F;
}
/*WADAH GRID TAB3 (CONTENT_RIGHT)*/
.wadah-grid1tab3{
    float: left;
    width: 40%;
    height: 65vh;
    background: url("../../assets/img/kota_tua.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    margin-top: -50px;
}
.wadah-grid1tab3:hover{
    transition: all.3s;
    box-shadow: 0px 0 0px 0px #8F8F8F;
}
.wadah-grid2tab3{
    float: left;
    width: 40%;
    margin-left: 40px;
    background-color: transparent;
    margin-top: -50px;
}
.sub_grid1tab3{
    background: url("../../assets/img/danau kaco.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    width: 100%;
    height: 30vh;
}
.sub_grid2tab3{
    background: url("../../assets/img/danau toba.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    width: 100%;
    height: 30vh;
    margin-top: 30px;
}
.sub_grid1tab3:hover,.sub_grid2tab3:hover{
    transition: all.3s;
    box-shadow: 0px 0 0px 0px #8F8F8F;
}
/*WADAH GRID TAB4 (CONTENT_RIGHT)*/
.wadah-grid1tab4{
    float: left;
    width: 40%;
    height: 65vh;
    background: url("../../assets/img/tmmi.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    margin-top: -50px;
}
.wadah-grid1tab4:hover{
    transition: all.3s;
    box-shadow: 0px 0 0px 0px #8F8F8F;
}
.wadah-grid2tab4{
    float: left;
    width: 40%;
    margin-left: 40px;
    background-color: transparent;
    margin-top: -50px;
}
.sub_grid1tab4{
    background: url("../../assets/img/bromo.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    width: 100%;
    height: 30vh;
}
.sub_grid2tab4{
    background: url("../../assets/img/tangkuban prahu.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    width: 100%;
    height: 30vh;
    margin-top: 30px;
}
.sub_grid1tab4:hover,.sub_grid2tab4:hover{
    transition: all.3s;
    box-shadow: 0px 0 0px 0px #8F8F8F;
}
/*WADAH GRID TAB5 (CONTENT_RIGHT)*/
.wadah-grid1tab5{
    float: left;
    width: 40%;
    height: 65vh;
    background: url("../../assets/img/karimun.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    margin-top: -50px;
}
.wadah-grid1tab5:hover{
    transition: all.3s;
    box-shadow: 0px 0 0px 0px #8F8F8F;
}
.wadah-grid2tab5{
    float: left;
    width: 40%;
    margin-left: 40px;
    background-color: transparent;
    margin-top: -50px;
}
.sub_grid1tab5{
    background: url("../../assets/img/balekambang.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    width: 100%;
    height: 30vh;
}
.sub_grid2tab5{
    background: url("../../assets/img/updown.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 6px 6px 10px 1px #8F8F8F;
    width: 100%;
    height: 30vh;
    margin-top: 30px;
}
.sub_grid1tab5:hover,.sub_grid2tab5:hover{
    transition: all.3s;
    box-shadow: 0px 0 0px 0px #8F8F8F;
}
/*ISI GRID*/
.isi_grid1{
    position: relative;
    padding: 5%;
    transition: all.3s;
    margin-top: 56%;
}
.isi_grid1 h1{
    color: white;
    font-size: 28px;
}
.isi_grid1 p{
    color: white;
    font-weight: 200;
}
.isi_grid1 button{
    display: none;
    background-color: transparent;
    border:1.5px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.isi_grid2,.isi_grid3{
    position: relative;
    padding: 5%;
    transition: all.3s;
}
.isi_grid2 h1,.isi_grid3 h1{
    color: white;
    font-size: 22px;
}
.isi_grid2 p,.isi_grid3 p{
    color: white;
    font-size: 14px;
    font-weight: 200;
}
.isi_grid2 button,.isi_grid3 button{
    display: none;
    background-color: transparent;
    border:1.5px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;

}


/*POPUP CONTROL*/
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    z-index: 9999;

    }
    /* Inner */
    .popup-inner {
    max-width:1000px;
    width:100%;
    height: 70%;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:10px;
    background:#fff;
    overflow-y: scroll;
    }
  /* Close Button */
.popup-close {
width:30px;
height:30px;
padding-top:4px;
display:inline-block;
position:absolute;
top:25px;
left:-10px;
transition:ease 0.25s all;
-webkit-transform:translate(50%, -50%);
transform:translate(50%, -50%);
border-radius:100px;
background:rgba(0,0,0,0.8);
font-family:Arial, Sans-Serif;
font-size:20px;
text-align:center;
line-height:100%;
color:#fff;
z-index: 9999;
}
.popup-close:hover {
-webkit-transform:translate(50%, -50%) rotate(180deg);
transform:translate(50%, -50%) rotate(180deg);
background:rgba(0,0,0,1);
text-decoration:none;
}
    
/*POPUP INNER CONFIGURATION*/
.header-popup{
    width: 100%;
    height: 45vh;
}
.wall_headerpopup{
    background: url("../../assets/img/prambanan.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup2{
    background: url("../../assets/img/header4.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup3{
    background: url("../../assets/img/kepseribu.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup4{
    background: url("../../assets/img/museum_aceh.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup5{
    background: url("../../assets/img/museum_nasional.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup6{
    background: url("../../assets/img/puncak mandeh.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup7{
    background: url("../../assets/img/kota_tua.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup8{
    background: url("../../assets/img/danau kaco.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup9{
    background: url("../../assets/img/danau toba.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup10{
    background: url("../../assets/img/tmmi.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup11{
    background: url("../../assets/img/bromo.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup12{
    background: url("../../assets/img/tangkuban prahu.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup13{
    background: url("../../assets/img/karimun.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup14{
    background: url("../../assets/img/balekambang.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup15{
    background: url("../../assets/img/updown.jpg");
    background-position: center;
    background-size: cover;
}

.content_popup{
    padding: 20px;
}
/*Map*/
#map_prambanan{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_borobudur{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_seribu{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_tsunami{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_mnasional{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_mandeh{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_ktua{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_kaco{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_toba{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_taman{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_bromo{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_prahu{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_karimun{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_balekambang{
    height: 400px;
    width: 100%;
    background: grey;
}
#map_updown{
    height: 400px;
    width: 100%;
    background: grey;
}

/*BASE ANIAMTION*/
@keyframes fade-left{
    from{
        opacity: 0;
        transform: translate3d(-100%,0,0);
        -webkit-transform: translate3d(-100%,0,0);
    }
    to{
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*PENGATUR RESPONSIVE*/
@media(min-width: 800px) and (max-width: 991px){
.sub_content_right{
    overflow-y: scroll;
}
.wadah-grid1tab1,.wadah-grid1tab2,.wadah-grid1tab3,.wadah-grid1tab4,.wadah-grid1tab5{
    width: 80%;
    height: 31vh;
    margin-top: -50px;
}
.tabs_anakan_responsive ul li a{
        display: block;
}
.wadah-grid2tab1,.wadah-grid2tab2,.wadah-grid2tab3,.wadah-grid2tab4,.wadah-grid2tab5{
        width: 80%;
        margin-left: 0px;
        margin-top: 30px;
}
.isi_grid1{
    margin-top: 0px;
    padding: 6.5px;
}
.isi_grid2,.isi_grid3{
    padding: 15px;
}
.vNav ul {
    padding-left: 0%;
}
.vNav ul li {
    padding-left: 0%;
}
}
@media(max-width:799px){
    .topnav{
        background-color: #283038;
    }
    .topnav a{
        color: white;
    }
    .induk_content{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
.content_right{
    width: 100%;
}   
.content_left{
    width: 100%;
}
.content_left .note_sub_content_left img{
    width: 70%;
}
.sub_content_right{
    padding: 0px;
 }
 .wadah-grid1tab1,.wadah-grid1tab2,.wadah-grid1tab3,.wadah-grid1tab4,.wadah-grid1tab5{
    margin-left: 50px;
}
.tabs_anakan{
    display: none;
}
.tabs_anakan_responsive{
    display: block;
    background-color: red;
}
.tabs_anakan_responsive ul li a{
    float: left;
    text-decoration: none;
    padding-right: 35px;
    margin-top: 50px;
    margin-left: 50px;
    border-right: 1px solid black;
}
.judul{
    width: 100%;
    transition: all.5s;
}
.judul ul li a{
    color: white;
}

.note_sub_content_left{
    margin-top: 35px;
}
.note_sub_content_left img{
    width: 50%;
    margin-left: -40px;
}
.isi_grid1{
    margin-top: 46%;
}
.isi_grid2,.isi_grid3{
    padding: 5px;   
}
.isi_grid2 h1,.isi_grid3 h1{
    margin-top: -3px;
}
.isi_grid2 p,.isi_grid3 p{
    margin-top: -7.5px;
    line-height: 20px;
}
.vNav{
    display: block;
    left: 0;
    width: 0px;
    padding: 10px;
     top: 10%;
}
.vNav ul {
    position: relative;
    padding: 10px;
}
.vNav ul li {
    position: relative;
    padding-bottom: 30px !important;
    float: left;
    color: red;
    padding-right: 0px;
    right: 20px;
    background-color: transparent;
    padding: 8px;
}

}
@media(max-width: 600px){
.content_right{
    width: 100%;
    padding-bottom: 20%;
} 
.wadah-grid1tab1,.wadah-grid1tab2,.wadah-grid1tab3,.wadah-grid1tab4,.wadah-grid1tab5{
    width: 90%;
    margin: 30px;
    height: 31vh;
    margin-top: -70px;
}
.tabs_anakan_responsive ul li a{
        display: block;
}
.wadah-grid2tab1,.wadah-grid2tab2,.wadah-grid2tab3,.wadah-grid2tab4,.wadah-grid2tab5{
        width: 90%;
        margin-left: 30px;
        margin-top: -10px;

}
.isi_grid1{
    margin-top: 0px;
    padding: 6.5px;
}
.isi_grid2,.isi_grid3{
    padding: 25px;   
}
.language_select{
    margin-left: 50px;
}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
   .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media(max-width:425px){
    .tabs_anakan_responsive ul li a{
        display: block;
        height: 0%;
    }
    .content_left .note_sub_content_left img{
    width: 100%;
    }
    .wadah-grid1tab1,.wadah-grid1tab2,.wadah-grid1tab3,.wadah-grid1tab4,.wadah-grid1tab5{
        float:left;
        width: 90%;
        height: 50vh;
        background-size: cover;
        margin-top: -50px;
        margin-left:23px;
    }
    .wadah-grid2tab1,.wadah-grid2tab2,.wadah-grid2tab3,.wadah-grid2tab4,.wadah-grid2tab5{
        width: 90%;
        margin-left: 23px;
        margin-top: -20px;
    }
    .sub_grid1tab1,.sub_grid1tab2,.sub_grid1tab3,.sub_grid1tab4,.sub_grid1tab5{
        height: 50vh;
        margin-top: 15px;
    }
    .sub_grid2tab1,.sub_grid2tab2,.sub_grid2tab3,.sub_grid2tab4,.sub_grid2tab5{
        height: 50vh;
    }
    .sub_grid1tab2 .isi_grid2 h1{
        font-size: 24.9px;
    }
    .sub_grid2tab2 .isi_grid3 h1{
        font-size: 24.9px;
    }
    .content_right{
        height: auto;
        padding-bottom: 5%;
    }
    .select_number{
        display: block;
    }
    .note_sub_content_left{
        margin-top: 35px;
    }
    .note_sub_content_left img{
        width: 50%;
        margin-left: -40px;
    }
    .isi_grid1{
        margin-top: -0px;
        padding: 35px;
        text-align: center;
    }
    .isi_grid1 p{
        margin-top: -7.5px;
        line-height: 25px;
    }
    .isi_grid2,.isi_grid3{
        margin-top: 0px;
        padding: 44px;
        text-align: center; 
    }
    .isi_grid2 h1,.isi_grid3 h1{
        margin-top: 0px;
        font-size: 28px;
    }
    .isi_grid2 p,.isi_grid3 p{
        margin-top: -7.5px;
        line-height: 25px;
    }
    .isi_grid1 button,.isi_grid2 button,.isi_grid3 button{
        margin: auto;
    }
    .judul ul li a{
        display: none;
    }
    .btn-menu{
        background-color: transparent;
        border: 1px solid white;
        color: white;
        display: block;
        width: 36px;
        padding: 5px;
    }

}
@media(max-width:375px){
    .wadah-pagination{
        display: block; 
    }
    .wadah-grid1tab1,.wadah-grid1tab2,.wadah-grid1tab3,.wadah-grid1tab4,.wadah-grid1tab5{
        margin-left:18px;
    }
    .wadah-grid2tab1,.wadah-grid2tab2,.wadah-grid2tab3,.wadah-grid2tab4,.wadah-grid2tab5{
        margin-left: 18px;
    }
    .isi_grid1{
        margin-top: -2px;
        padding: 35px;
        text-align: center;
    }
    .isi_grid1 p{
        margin-top: -7.5px;
        line-height: 25px;
    }
    .isi_grid2,.isi_grid3{
        margin-top: 0px;
        padding: 46px;
        text-align: center; 
    }
    .btn-menu{
        display: block;
    }

}
@media(max-width:320px){
    .isi_grid1,.isi_grid2,.isi_grid3{
        margin-top: 0px;
        padding: 34px;
        text-align: center; 
    }
    .content_left .note_sub_content_left img{
        display: none;
    }
    .note_sub_content_left{
        margin-top: 70px;
    }
    .judul h2{
        background-color: transparent;
    }
    .btn-menu{
        display: block;
    }
    .language_select{
        margin-left: 40px;
    }
}


