body{
	font-family: calibri;
} 
/*JUDUL/HEADER*/
.judul{
	background-color: white;
	width: 78%;
	position: relative;
	float: right;
	height: 10%;
}
.judul ul{
	list-style: none;
}
.judul ul li{
	float: right;
	margin-right: 10px;
}
.judul_merah{
	float:left;
	width: 22%;
	position: relative;
	height: 10%
}
.judul_merah h2{
	text-align: left;
	font-size: 5vh;
	font-weight: 700;
	line-height: 10px;
	color: #f30407;
	font-family:Chocolatines;
}

/*PENGATURAN FONT*/
@font-face {
	font-family: "Abel";
	src: url('../font/Abel-Regular.ttf');
}
@font-face {
	font-family: "libel";
	src: url('../font/libel-suit-rg.ttf');
}
@font-face {
	font-family: "Chocolatines";
	src: url('../font/Chocolatines.ttf');
}
/*footer*/
.footer{
	background-color: white;
	width: 78%;
	position: relative;
	float: left;
	height: 5%;
	background: white;
	overflow: hidden;
}
.footer_merah{
	background: #f30407;
	float:right;
	width: 22%;
	position: relative;
	height: 5%
}
.footer_merah p{
	text-align: left;
	font-size: 40px;
	font-weight: 700;
	line-height: 1px;
	color: white;
	font-family:Abel;
}
/*body*/
.wadah{
	/*background: url("../../assets/img/background.jpg");*/
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	height: auto;
	position: fixed;
	background-size: cover;
	background-position: center;
	font-family: calibri;
}
.wadah img{
	width:95%;
	
}
.wadah h2{
	text-align: center;
	margin-top: 8%;
	color: white;
}
.wadah p{
	text-align: center;
	font-size: 16px;
	color: white;
	font-weight: 200;
	padding-bottom: 30%;
}
.anak_wadah1,.anak_wadah2,.anak_wadah3{
	width: 33.3%;
	height: 85%;
	background-color: white;
	float: left;
	/*box-shadow: 5px 0px 10px 0px #353535;*/
	transition: all.3s;
}
/*.anak_wadah1:hover,.anak_wadah2:hover,.anak_wadah3:hover{
	transition: all.3s;
	box-shadow: 8px 0 12px 0px #283038;
	margin-top: 6%;
	cursor: pointer;
}*/
.anak_wadah1{
	background: url("../../assets/img/wib_background.jpg");
	background-position: center;
	background-size: cover;
}
.anak_wadah1 img,.anak_wadah2 img,.anak_wadah3 img{
	margin-top: 15%;
}
.anak_wadah2{
	background: url("../../assets/img/wita_background.jpg");
	background-position: center;
	background-size: cover;

}
.anak_wadah3{
	background: url("../../assets/img/wit_background.jpg");
	background-position: center;
	background-size: cover;
}
.counta1{
	font-family: libel;
	text-align: center;
	color: white;
	font-size: 70px;
	margin-top: -70px;
	opacity: 0.5;
}
.counta2{
	font-family: libel;
	text-align: center;
	color: white;
	font-size: 70px;
	margin-top: -70px;
	opacity: 0.5;
}
.counta3{
	font-family: libel;
	text-align: center;
	color: white;
	font-size: 70px;
	margin-top: -70px;
	opacity: 0.5;
}
.language_select {
    margin-top: 10px;
    top: 5px;
    right: 0;
    position: fixed;
    margin-right: 50px;
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
}

/*MEDIA QUERY*/

/*tablet*/
/*@media (max-width: 768px) {
	.anak_wadah1,.anak_wadah2,.anak_wadah3{
		display: none;
	}
	.anak_wadah1{
		display: block;
		margin: auto;
		margin-top: 15%;
		width: 90%;
		height: 38%;
		float: none;
		background-position: center;
		background-size: cover;
	}
	.wadah img{
		width: 35%;
		margin-top: 8%;
		padding-left: 10px;
		float: left;
	}
	.anak_wadah1 h2 {
		text-align: left;
		padding-top: 8%;
		padding-left:270px;		
	}
	.anak_wadah1 p {
		text-align: left;
		font-size: 18px;
		padding-left:270px;
	}
}*/
/*tablet*/

@media (max-width: 1040px){
.judul_merah h2{
	font-size: 4vh;
	margin-top: 30px;
}
}

@media (max-width: 768px){
.footer_merah{
	width: 40%;
}
.footer{
	width: 60%;
}
}

/*smartphone*/
@media (max-width: 425px){
	.wadah{
		overflow-y: scroll;
	}
	.anak_wadah1,.anak_wadah2,.anak_wadah3{
		width: 100%;
	}
	.judul_merah h2{
	font-size: 3vh;
	margin-top: 10px;
	line-height: 25px;
	}
	.footer_merah{
	width: 100%;
	}
	.footer_merah p{
		text-align: center;
	}
	.footer{
		display: none;
	}

}
@media (max-width: 375px){
	.anak_wadah1,.anak_wadah2,.anak_wadah3{
		width: 100%;
	}
}