::-webkit-scrollbar{
    width:1vh;
}
::-webkit-scrollbar-track{
    background-color:black;
}
::-webkit-scrollbar-thumb{
    background-color:#e4262c;
}
/*PENGATURAN FONT*/
@font-face { 
    font-family: "Abel";
    src: url('../font/Abel-Regular.ttf');
}
@font-face {
    font-family: "libel";
    src: url('../font/libel-suit-rg.ttf');
}
@font-face {
    font-family: "Chocolatines";
    src: url('../font/Chocolatines.ttf');
}
.topnav {
    background-color: #283038;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight: 600;
    text-decoration: none;
    font-size: 17px;
    line-height: 2;
    font-weight: 600;
    font-family: calibri;
}
.topnav a:hover{
  transition: all.5s;
  color: red;
}
.activenav {
    background-color: #e4262c;
    color: white;
    letter-spacing: 3px;
    font-weight: 800;
}
.topnav .activenav:hover{
    transition: all.3s;
    color: white;
}


.topnav .icon {
    display: none;
}
.language_select {
    margin-top: 10px !important;
    top: 5px;
    right: 0;
    position: fixed;
    margin-right: 50px;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    filter: grayscale(100%);
    transition: 0.5s all;
}
.animasi{
    animation-name: filp;
    webkit-animation-name: filp;
    moz-animation-name: filp; 
    -webkit-animation-duration: 0.6s;
    visibility: visible;
}
.column img:hover {
    filter: grayscale(0%);
    transition: 0.5s all;
    cursor: pointer;
}

@keyframes filp {
    0% {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);

    } 
    100% {
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
    }
}

/*POPUP CONTROL*/
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    z-index: 4;

    }
    /* Inner */
    .popup-inner {
    max-width:1000px;
    width:100%;
    height: 70%;
    position:absolute;
    top:40%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:10px;
    background:#fff;
    z-index: 4;
    }
     /* Close Button */
.popup-close {
width:30px;
height:30px;
padding-top:4px;
display:inline-block;
position:absolute;
top:25px;
left:-10px;
transition:ease 0.25s all;
-webkit-transform:translate(50%, -50%);
transform:translate(50%, -50%);
border-radius:100px;
background:rgba(0,0,0,0.8);
font-family:Arial, Sans-Serif;
font-size:20px;
text-align:center;
line-height:100%;
color:#fff;
z-index: 9999;
}
.popup-close:hover {
-webkit-transform:translate(50%, -50%) rotate(180deg);
transform:translate(50%, -50%) rotate(180deg);
background:rgba(0,0,0,1);
text-decoration:none;
}

/*POPUP INNER CONFIGURATION*/
.header-popup{
    width: 100%;
    height: 100%;
}
.header-popup .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.wall_headerpopup{
    background: url("../../assets/img/galery/747512.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup2{
    background: url("../../assets/img/galery/Museum-Tsunami-Aceh-1.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup3{
    background: url("../../assets/img/galery/Museum-Tsunami-Aceh-696x418.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup4{
    background: url("../../assets/img/galery/indonesia-1578647_1920.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup5{
    background: url("../../assets/img/galery/pantai kuta.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup6{
    background: url("../../assets/img/galery/wildlife-3046369_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup7{
    background: url("../../assets/img/galery/temple-2434193_1920.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup8{
    background: url("../../assets/img/galery/parangtritis-754945_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup1a{
    background: url("../../assets/img/galery/Museum-Nasional-Indonesia.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup2a{
    background: url("../../assets/img/galery/1200px-Mtbromo.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup3a{
    background: url("../../assets/img/galery/indonesia-2647607_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup4a{
    background: url("../../assets/img/galery/mount-merapi-113620_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup5a{
    background: url("../../assets/img/galery/temple-2463140_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup6a{
    background: url("../../assets/img/galery/landscape-1261626_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup7a{
    background: url("../../assets/img/galery/train-199634_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup1b{
    background: url("../../assets/img/galery/80320416056681.562a4d0b88db8.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup2b{
    background: url("../../assets/img/galery/tempat wisata semarang.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup3b{
    background: url("../../assets/img/galery/2.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup4b{
    background: url("../../assets/img/galery/barong-648093_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup5b{
    background: url("../../assets/img/galery/raja-ampat-3143652_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup6b{
    background: url("../../assets/img/galery/music-110787_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup7b{
    background: url("../../assets/img/galery/nasi-padang-360844_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup1c{
    background: url("../../assets/img/galery/karimunjawa.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup2c{
    background: url("../../assets/img/galery/pulau-komodo-3-800x533.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup3c{
    background: url("../../assets/img/galery/nasi-216419_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup4c{
    background: url("../../assets/img/galery/komodo.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup5c{
    background: url("../../assets/img/galery/lake-toba-1894746_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup6c{
    background: url("../../assets/img/galery/kelimutu-1145980_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup7c{
    background: url("../../assets/img/galery/white-crater-2337128_1280.jpg");
    background-position: center;
    background-size: cover;
}
.wall_headerpopup8c{
    background: url("../../assets/img/galery/bali-2970024_1280.jpg");
    background-position: center;
    background-size: cover;
}

/*responsive*/
@media screen and (max-width: 1000px) {
    .popup-inner {
        width:85%;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
      .topnav.responsive {
        position: fixed;
    }
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

 
@media screen and (max-width: 492px) {
    .content p {
        font-size: 14px;
    }
}
@media screen and (max-width: 425px) {
    .content p {
        font-size: 12px;
    }
}
@media screen and (max-width: 355px) {
    .content p {
        font-size: 10px;
    }
}
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}