::-webkit-scrollbar{
    width:1vh;
}
::-webkit-scrollbar-track{
    background-color:black;
}
::-webkit-scrollbar-thumb{
    background-color:#e4262c;
}
html,body
{
	margin: 0;
	padding: 0;
  font-family: calibri;
}
img, a
{
	border: 0;
	outline: 0;
}
*
{
  box-sizing:border-box;
}
@font-face {
    font-family: "Chocolatines";
    src: url('../font/Chocolatines.ttf');
}
.topnav {
    background-color: #283038;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
}
.activenav {
    background-color: #e4262c;
    color: white;
    font-family: "Chocolatines";
    letter-spacing: 3px;
    font-weight: 800;
}
.topnav a:hover{
  transition: all.5s;
  color: red;
}
.topnav .activenav:hover{
    transition: all.3s;
    color: white;
}

.topnav .icon {
    display: none;
}
.language_select{
    margin-top: 10px !important;  
    top: 0;
    right: 0;
    position: fixed;
    margin-right:50px;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
}
.footer{
    position: fixed;
    bottom: 0;
    z-index: 4;
}
.btn_back{
    background-color: orange;
    padding: 10px;
    border: none;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;

}
.navbar{
	position: fixed;
	background-color: transparent;
	width: 100%;
	z-index: 1;
	font-family: calibri;
}
.navbar h3{
	font-family: calibri;
	float: left;
	color: white;
	font-size: 30px;
	padding: 5px;
	line-height: 1px;
	margin-left: 10px;
}
.navbar ul{
	list-style: none;
	margin: auto;
}
.navbar ul li a{
	float: right;
	color: white;
	text-decoration: none;
	margin-left: 20px;

}
.language_select{
    float: right;
    margin-top: 20px;
    margin-right:20px; 
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
    color: black;
}
.ContainerWrap
{
	max-width: 100%;
	min-width: 200px;
	width: auto;
	height: auto;
	margin: 0px auto;
  font-family: arial;
}
.Container
{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.clearFix
{
	clear: both;
	height: 0;
}
.AllSpecsDataWrap
{

}
.SpecDataWrap
{
  position: relative;
  min-height: 700px;
  overflow: hidden;
}
.SpecDataWrap .SpecDataSlides img
{
  width: 100%;
  line-height: 0;
}
.SpecDesc
{
  position: absolute;
  top: 20%;
  width: 500px;
  color: #fff;
  z-index: 4;
}
.SpecDescRight
{
  right: 10%;
}
.SpecDescLeft
{
  left: 10%;
}
.SpecDesc h2
{
       font-size: 35px;
  margin: 20px 0px;
}
.SpecDescDetails
{
  font-size: 20px;
    font-weight: 100;
  font-family: calibri;
}
.back_desc{
  background:rgba(0,0,0,0.75);
  padding: 15px;
}
.SpecDataSlides
{
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  left: 0px;
  top: 0px;
}
.SpecSlideNavigation
{
      position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}
.SpecSlideNav
{
  width: 34px;
    height: 47px;
    cursor: pointer;
    margin-top: -23px;
    position: absolute;
    top: 50%;
}
.leftNavSpec
{
    background: url("../../assets/img/panah.png") no-repeat;
    left: 5px;
    background-position: 0px 0px;
}
.RightNavSpec
{
    background: url("../../assets/img/panah.png") no-repeat;
    right: 5px;
    background-position: 0px -48px;
}
.leftNavSpec:hover
{
  background-position: 0px -97px;
}
.RightNavSpec:hover
{
    background-position: 0px -145px;
}
.bulletsNavSpec
{
    display: block;
    vertical-align: middle;
    position: absolute;
    bottom: 20px;
    left: 49%;
}
.bulletsNavSpec ul
{
    margin:0;
    padding: 0;
    list-style: none;
}
.bulletsNavSpec ul li
{
  display: inline-block;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  margin-right: 10px;
  cursor: pointer;
}
.activeImage
{
    background: #999;
}
.InActiveImage
{
    background: #666;
}
@media screen  and (max-width: 980px){
	.SpecDesc h2 {
		font-size: 38px;
		margin: 10px 0px;
	}
	.SpecDescDetails {
		font-size: 18px;
	}
	.SpecDesc {
		top: 10%;
		width: 350px;
	}
	.SpecDescRight {
		right: 5%;
	}
	.SpecDescLeft
	{
		left: 5%;
	}
	.bulletsNavSpec
	{
		bottom: 5px;
	}
	.SpecSlideNav
	{
		top: 30%;
	}
}
@media screen and (max-width: 760px){
	.SpecDesc {
		width: 90%;
		margin: 0 auto;
		position: static;
		color: #999;
		text-align: center;
	}
}
@media screen and (max-width: 600px){
  .language_select{
    margin-left: 50px;
}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
   .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .language_select {
    float: right;
    margin-top: 20px;
    margin-right: 60px;
    border-radius: 5px;
    border: 2px solid white;
    top: 5px;
    padding: 5px;
    color: black;
}
}
@media screen and (max-width: 480px){
	.SpecDesc h2 {
		font-size: 28px;
	}
	.SpecDescDetails {
		font-size: 14px;
	}
}